<div id="wrapper">
	<app-menu></app-menu>
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<app-nav></app-nav>
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2>Radiodifusión</h2>
				<ol class="breadcrumb">
					<li>
						<a routerLink = "/dashboard">Dashboard</a>
					</li>
					<li class="active">
						<strong>Radiodifusión</strong>
					</li>
				</ol>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-lg-12">
					<div class="tabs-container">
						<ul class="nav nav-tabs">
							<li [ngClass]="{'active': active=='aud'}"><a (click)="audiencia();"><i class="fa fa-users"></i> Audiencia</a></li>
							<li [ngClass]="{'active': active=='est'}"><a (click)="estadisticas();"><i class="fa fa-bar-chart-o"></i>Estadisticas</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab-1"  [ngClass]="{'active': active=='aud'}" class="tab-pane">
								<div class="panel-body">
									<div class="ibox float-e-margins">
										<div class="ibox-title">
											<h5 class="" *ngIf="listUsers.length == 0" >Seleccione  1 o mas usuarios para enviar un mensaje.</h5>
											<h5 class="pull-right" *ngIf="listUsers.length != 0 && sending == false" >Iniciar un transmision <button (click)="showSend();"type="button" class="btn btn-w-m btn-primary" [disabled]="listUsers.length == 0">Enviar Mensaje</button></h5>
										</div>
										<div class="ibox-content" *ngIf="sending == false;">
											<div class="row">
												<div class=" alert alert-success alert-dismissable" *ngIf="alerts == true">
													Se ha Enviado con exito.
													<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
												</div>
												<div class="col-xs-12">
													<h3>Filtrar por:</h3>
												</div>
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label>Nombre</label>
														<input type="text" placeholder="Introduzca una palabra"  class="form-control">
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label>Genero</label>
														<select class="form-control m-b" name="account">
															<option>Hombre</option>
															<option>Mujer</option>
														</select>
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
															<label>Fecha</label>
														<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
													</div>
												</div>
												<div class="col-xs-12 col-md-2">
													<div class="form-group">
														<label></label>
														<button class="btn btn-primary">Filtrar</button>
													</div>
												</div>
											</div>
												<div class="table-responsive">
													<table class="table table-striped table-bordered table-hover dataTables-example">
														<thead>
															<tr >
																<td></td>
																<td>
																	<h1 class="letter-logo">Avatar</h1>
																</td>
																<td>
																	<h1 class="letter-logo">Nombre</h1>
																</td>
																<td>
																	<h1 class="letter-logo">Género</h1>
																</td>
																<td>
																	<h1 class="letter-logo">Status</h1>
																</td>
																<td>
																	<h1 class="letter-logo">Suscripción</h1>
																</td>
															</tr>
														</thead>
														<tbody>
															<tr data-status="pagado" *ngFor="let item of pagedItems | audiencia : searchText">
																<td>
																	<input type="checkbox" id="{{item.id}}" (change)="unir(item.id)" class="ckecklist">
																</td>
																<td>
																	<a class="pull-left">
																		<div class="image-circle">
																			<img src="{{item.picture.url}}" />
																		</div>
																	</a>
																</td>
																<td>
																	<h4 class="title ">{{item.name}}</h4>
																</td>
																<td>
																	<h4 class="title">{{item.gender}}</h4>
																</td>
																<td>
																	<h4 class="title">subscrito</h4>
																</td>
																<td>
																	<h4 class="title">{{item.createdAt}}</h4>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="ibox-content" *ngIf="sending == true;">
												<div class="row" style="margin-left: 0px;" >
													<div class="col-md-10 col-md-offset-0" >
														<div class="form-group">
															<label>
																<h1 class="letter-logo">Nombre de Transmision: </h1>
															</label>
															<input type="text"  class="search form-control" [(ngModel)]="title" id="transmision">
														</div>
														<div class="form-group">
															<label>
																<p style="padding-left: 20px;">Escriba el mensaje que desea enviar:</p>
															</label>
															<textarea class="form-control" rows="5" id="comment" [(ngModel)]="text"></textarea>
														</div>
														<div class="form-group">
															<button type="submit"  (click)="message()" class="btn btn-primary">Enviar</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="tab-2"  [ngClass]="{'active': active=='est'}" class="tab-pane">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-12  text-center">
												<table class="table table-bordered">
													<thead>
														<tr >
															<th scope="col" style="color:#00b1f3;">
																Transmisión
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Enviados
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Recibidos
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Leídos
															</th>
															<!--<th  scope="col" style="color:#00b1f3;">-->
															<!--	Spam-->
															<!--</th>-->
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let transmission of transmissions">
															<td>
																{{transmission.title}}
															</td>
															<td>
																{{transmission.send}}
															</td>
															<td>
																{{transmission.received}}
															</td>
															<td>
																{{transmission.read}}
															</td>
															<!--<td>-->
															<!--	...-->
															<!--</td>-->
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>