<!--<p>-->
<!--  prueba works!-->
<!--</p>-->
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />-->



<div id="wrapper">
	<app-menu></app-menu>
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<app-nav></app-nav>
			<div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10" >
              <h2>Audiencia</h2>
              <ol class="breadcrumb" >
                  <li>
                      <a routerLink = "/dashboard">Dashboard</a>
                  </li>
                  <li class="active">
                      <strong>Audiencia</strong>
                  </li>
              </ol>
          </div>
          <div class="col-lg-2">

          </div>
      </div>
		<div class="wrapper wrapper-content animated ">
			<div class="row">
				<div class="container">

					<div id="Audiencia" class="tabcontent" style="display:block;padding-top:50px;">

						<!--<div class="col-md-4 col-md-offset-1" style="margin-left: 5%;" ><input type="text" [(ngModel)]="searchText.name" placeholder="Filtro de búsqueda" class="search"><br><br></div>-->

						<section class="content" style="width: 90%;">

							<div class="row">
									<div class="row" style="margin-left:9%;">
												         <div class=" alert alert-success alert-dismissable" *ngIf="alerts == true">
									                                Se ha Enviado con exito.
									                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
									                            </div>
												                    		<div class="col-xs-12">
												                    			<h3>Filtrar por:</h3>
												                    		</div>
												                    		<div class="col-xs-12 col-md-4">
												                    				<div class="form-group">
												                    					<label>Nombre</label>
												                    					<input type="text" placeholder="Introduzca una palabra"  class="form-control">
												                    				</div>
												                    		</div>
												                    		<div class="col-xs-12 col-md-3">
												                    				<div class="form-group">
												                    					<label>Genero</label>
												                    					<select class="form-control m-b" name="account">
													                                        <option>Hombre</option>
													                                        <option>Mujer</option>
													                                    </select>
												                    				</div>
												                    		</div>
											                    			<div class="col-xs-12 col-md-3">
											                    				<div class="form-group">
											                    						<label>Fecha</label>
																					<!--<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>-->
																					<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="fecha" required></my-date-picker>
																				</div>
											                    			</div>
											                    			<div class="col-xs-12 col-md-2">
											                    				<div class="form-group">
											                    					<label></label>
											                    					<button class="btn btn-primary">Filtrar</button>
										                    					</div>
											                    			</div>

												                    	</div>
								<div class="col-md-10 col-md-offset-1" >
											<table class="table table-striped table-bordered table-hover dataTables-example">

													<thead>
														<tr >

															<th scope="col" style="color:#00b1f3;">
															Avatar
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Nombre
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Género
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Status
															</th>
															<th  scope="col" style="color:#00b1f3;">
																Suscripción
															</th>
														</tr>
													</thead>
														<tbody>
														<tr  *ngFor="let item of pagedItems | audiencia : searchText">
															<td>
																	<a  class="pull-left">
																		<div class="image-circle">
																			<img src="{{item.picture.url}}" />
																		</div>
																	</a>
															</td>
															<td>
															{{item.name}}
															</td>
															<td>
																{{item.gender}}
															</td>
															<td>
																subscribed
															</td>
															<td>
															{{item.createdAt}}
															</td>
														</tr>
												</tbody>
											</table>
								</div>
							</div>

						</section>
						<div>
							<div class="container">
								<div class="col-md-10 col-md-offset-0 text-center">
									<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
										<li [ngClass]="{disabled:pager.currentPage === 1}">
											<a (click)="setPage(1)">First</a>
										</li>
										<li [ngClass]="{disabled:pager.currentPage === 1}">
											<a (click)="setPage(pager.currentPage - 1)">Previous</a>
										</li>
										<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
											<a (click)="setPage(page)">{{page}}</a>
										</li>
										<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
											<a (click)="setPage(pager.currentPage + 1)">Next</a>
										</li>
										<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
											<a (click)="setPage(pager.totalPages)">Last</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>