/* You can add global styles to this file, and also import other style files */
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face{
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url(../../assets/fonts/2DF5B4_F_0.woff2) format("woff2"),url(../../assets/fonts/2DF5B4_F_0.woff) format("woff");
}

@media (min-width: 1200px){
.container {
    max-width: 1350px;
}
}


* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
.body {
  font-family: "Muller";  
 background-image:url("/assets/hands-woman-camera-smartphone.jpg");
background-repeat: no-repeat;
background-position: top;
background-attachment: fixed;
background-size: cover;
overflow: hidden;
padding-top: 5px;  
width: 100%;
height: 100%;
overflow-y: auto;
position: absolute;
 }
 .login {
margin-top:20%;
width: 300px;
padding-left: 10px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #00b1f3 ;
font-size: 2em;
font-weight: bold;
}


.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
* {
box-sizing: border-box;
}

*:focus {
  outline: none;
}



.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
font-weight: bold;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #00b1f3;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #00b1f3;
  color:#ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  font-family: "Muller";
}


.btn:hover {
  background-color: #069fd8;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;

}

.btn-default:hover{
background-color:#DCDCDC;

}


