<div class="body">
  <div class="col-lg-12 text-sm-left">
    <div class="login">
    <div class="login-screen">
      <div class="app-title">
       	<h1 >Logo</h1>
      </div>

      <div class="login-form">
        <!-- Aquí va los componentes-->
        <div class="singin" >
                      
            <div class="control-group">
            	<h3>
            		Inicia tu sesión en Facebook para crear tu primer Bot
            	</h3>
            </div>
            
            <button class="btn btn-primary btn-large btn-block" routerLink = "precios">Iniciar sesión con Facebook</button>
            <!--<button class="btn btn-primary btn-large btn-block" (click)="socialSignIn('facebook')">Iniciar sesión con Facebook</button>-->
                        
          </div>
      </div>
    </div>
  </div>
  </div>
  </div>