<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
	<input name="first" ngModel required #first="ngModel">
	<input name="last" ngModel>
	<button>Submit</button>
</form>


<div *ngFor="let transmission of transmissions">

	<p>{{transmission.title}}</p>
	<p>{{transmission.send}}</p>
	<p>{{transmission.received}}</p>
	<p>{{transmission.read}}</p>
</div>


