  <!-- Navigation -->
  <link href="/assets/css/plugins/bootstrap.min.css" rel="stylesheet">

  <div class="body" id="page-top" cz-shortcut-listen="true">



    <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" id="toogler-click" value="true">

          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" routerLink = "precios" id="precios">Precios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" >Contactos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" >Blog</a>
            </li>
		      	<li class="nav-item">
              <a class="nav-link js-scroll-trigger" routerLink = "singin">Iniciar Sesión</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="row linea">
              <div class="col-lg-12 linea-nav">
                  <h6></h6>
              </div>
      </div>    <!-- Section 1-->
            <section id="portfolio" class="mysection1" style="background: url(/assets/img/header-bg-min.png);background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;">
        <div class="container">

                <h2 class="text-center">Meet Messenger Marketing</h2>
                <h5 class="text-center">Te permite crear un bot de Facebook Messenger <br> para marketing, ventas y soporte. Es fácil y gratis.</h5>
             <div class="col-lg-12 mx-auto text-center">
                        <a  class="mybutton glow-button" routerLink = "singin">
                                        Iniciar Sesión
                        </a>
              </div>
              <div class="row" style="display:block;">
                  <div class="col-lg-8 mx-auto text-center biglg">
                      <img src="/assets/img/iphone.png" class="tlf1" alt="Responsive image">
                  </div>
               <div class="col-lg-4 mx-auto text-center texto1">
                                              <h3 class="text-center color-text">¿Qué es un bot?</h3>

                                                <h6 class="text-sm-left color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

                       <div class="col-lg-12 mx-auto button-center">
                        	<a class="mybutton-azul glow-button-azul" routerLink = "singin">
                        	                             Conversar                                                 	</a><br>
                        	 <img src="/assets/img/letrapeque.png" class="msj" alt="Responsive image">
                      </div>


              </div>
               <div class="col-lg-8 mx-auto oculto">
                      <img src="./assets/img/iphone.png" class="img-responsive tlf1" alt="Responsive image">
              </div>


          </div>

    </div>
      <div class="row">
              <div class="col-lg-12 linea-section">
                  <h6></h6>
              </div>
      </div>
    </section>

    <section id="portfolio" class="mysection">
      <div class="container">
        <div class="row">

           <div class="col-lg-4 mx-auto texto2">
                                  <p class="text-sm-left fuente2 color-text">Transmisiones</p>
                                               <h3 class="text-sm-left color-text">Enviar mensajes a sus subscriptores</h3>
                                                <h6 class="text-sm-left color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur  ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

           </div>
           <div class="col-lg-5 mx-auto text-sm-left">
             <img src="/assets/img/2_iphones.png" class="img-responsive-alt" alt="Responsive image">

           </div>
        </div>

      </div>
    </section>
     <!--Sección 3-->
	    <section id="portfolio" style="background: url(/assets/img/bg_chateando-min.png);background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed;color:#f9f4f4;">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 mx-auto texto2 biglg">
              <img src="/assets/img/iphone2.png" class="img-responsive" alt="Responsive image">
            </div>
            <div class="col-lg-4 mx-auto texto3">
                                <p class="text-sm-left fuente">Chat en vivo</p>
                                                 <h3 class="text-sm-left ">Manténgase personal con Live Chat</h3>
                                                 <h6 class="text-sm-left ">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascet ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>


            </div>
             <div class="col-lg-5 mx-auto tlf2 oculto">
              <img src="/assets/img/iphone2.png" class="tlf3 img-responsive" alt="Responsive image">
            </div>
          </div>
        </div>
    </section>
    <!--Sección 4-->
	    <section id="portfolio">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 mx-auto">
                <img src="/assets/img/logo_mns2.png" class="img-responsive" alt="Responsive image">
              </div>
              <div class="col-lg-4 mx-auto texto3">
                                          <h3 class="text-sm-left color-text">¿Por qué Facebook Messenger?</h3>
                                                            <h6 class="text-sm-left color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

              </div>
            </div>
        </div>
         <div class="row">
                <div class="col-lg-12 linea-section2">
                    <h6></h6>
                </div>
        </div>

    </section>
    <!--Sección 5 -- slide -->
	    <section id="portfolio" class="mysection5">
        <div class="container">
           <div class="row">

                    <!-- Section Header -->
                    <div class="col-lg-12 mx-auto text-center">
                                          <h3 class="color-text text-center">Testimonios</h3>



                    </div>

                      <!-- teams Slider -->
                                         <div id="carouselExampleControls" class="carousel slide big" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item">
                         <div class="row">
                                                                            		                                                                  <div class="col-lg-4 mx-auto elemcont">
                                                                          			<h5 class="text-sm-left color-text">Deisy Jaque</h5>
                                  			                                  			                                  			<h5 class="text-sm-left azul">Cargo</h5>


                                           <img class="circle img-responsive text-center" src="/assets/img/contacto.jpg">

                                                                           			<h6 class="text-sm-left elemcont color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

                                        </div>

                                    </div>
                                 </div>
                                                                   <div class="carousel-item">
                                      <div class="row">
                                           <div class="col-lg-4 mx-auto elemcont">
                                                                              			<h5 class="text-sm-left color-text">Deisy Jaque</h5>
                                  			                                  			                                  			<h5 class="text-sm-left azul">Cargo</h5>


                                           <img class="circle img-responsive text-center" src="/assets/img/contacto.jpg">

                                                                               			<h6 class="text-sm-left elemcont color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

                                            </div>

                                      </div>
                                  </div>



                                            		                                                              <div class="carousel-item active">
                                      <div class="row">
                                           <div class="col-lg-4 mx-auto elemcont">
                                                                              			<h5 class="text-sm-left color-text">Pedro Perez</h5>
                                  			                                  			                                  			<h5 class="text-sm-left azul">Cargo</h5>


                                           <img class="circle img-responsive text-center" src="/assets/img/contacto.jpg">

                                                                               			<h6 class="text-sm-left elemcont color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

                                            </div>

                                      </div>
                                  </div>



                                            		                                                              <div class="carousel-item">
                                      <div class="row">
                                           <div class="col-lg-4 mx-auto elemcont">
                                                                              			<h5 class="text-sm-left color-text">José López</h5>
                                  			                                  			                                  			<h5 class="text-sm-left azul">Cargo</h5>


                                           <img class="circle img-responsive text-center" src="/assets/img/contacto.jpg">

                                                                               			<h6 class="text-sm-left elemcont color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

                                            </div>

                                      </div>
                                  </div>



                                            		                                                              <div class="carousel-item">
                                      <div class="row">
                                           <div class="col-lg-4 mx-auto elemcont">
                                                                              			<h5 class="text-sm-left color-text">Laura Arce</h5>
                                  			                                  			                                  			<h5 class="text-sm-left azul">Cargo</h5>


                                           <img class="circle img-responsive text-center" src="/assets/img/contacto.jpg">

                                                                               			<h6 class="text-sm-left elemcont color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>

                                            </div>

                                      </div>
                                  </div>










                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                        <!-- Fin Slides -->


                </div>
          </div>

    </section>

    <!-- Sección 6-->
	    <section id="portfolio" class="contacto">
      <div class="container">
           <div class="row">

            <div class="col-lg-12 mx-auto text-center">
                                    <h3 class="text-center texto3">Tu bot personalizado para tu marca o emprendimiento</h3>

              <a href="#" class="btn btn-lg btn-outline">

                                      Contáctanos
              </a>
            </div>
            </div>
      </div>
    </section>

    <!--Seción 7-->
	    <section id="portfolio" class="mysection7">
        <div class="container">
          <div class="row">
             <div class="col-lg-12 mx-auto text-center texto-espacio">
                                      <h3 class="text-center color-text">Preguntas comunes</h3>
                              </div>
                                         	            		                     <div class="col-lg-5 mx-auto text-sm-left">
                          <h5 class="text-center color-text">Pregunta 1</h5>
                          <h6 class="text-sm-left color-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetu ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </h6>

                      </div>




                       <div class="col-lg-5 mx-auto text-sm-left">
                          <h5 class="text-center color-text">  Pregunta 2</h5>
                          <h6 class="text-sm-left color-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetu ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </h6>

                      </div>






          </div>
        </div>
      </section>



   <!-- Footer -->
    <footer>

      <div class="footer-below">

        <div class="container">
          <div class="row ">

            <div class="col-lg-12 mx-auto text-center">
                <h5 class="text-center footer-below1">Messenger Marketing espera por ti<br> Comience hoy</h5>

                <a class="mybutton glow-button azul" routerLink = "singin">

                  Comience gratis
                  </a>

                  <p class="footer-below2">2017</p>

              </div>
            </div>


          </div>
      </div>
      <div class="footer-above">
        <div class="container">
          <div class="row ">
             <div class="col-lg-5 mx-auto text-center"></div>
            <div class="col-lg-6 mx-auto text-sm-left footer-display">
               <a class="nav-link js-scroll-trigger" routerLink = "precios"><h6>Precios</h6></a>
               <a class="nav-link js-scroll-trigger"><h6>Contactos</h6></a>
               <a class="nav-link js-scroll-trigger" ><h6>Blog</h6></a>
               <a class="nav-link js-scroll-trigger" routerLink = "singin"><h6>Iniciar Sesión</h6></a>
              </div>
            </div>


          </div>
      </div>



    </footer>


   </div>
     <script src="/assets/js/jquery.min.js"></script>
