/*!
* Start Bootstrap - Freelancer v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/freelancer)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-freelancer/blob/master/LICENSE)
*/

@font-face{
	font-weight: 400;
	font-family: "Muller";
	font-style: normal;
	src: url(../../assets/fonts/2DF5B4_F_0.woff2) format("woff2"),url(../../assets/fonts/2DF5B4_F_0.woff) format("woff");
}
.body {
	font-family: "Muller";
	background:#fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-size: initial;
	background-size: cover;
}
h6{
	font-size: initial;
}
h5{
	font-size: 1.5rem;
}
p {
	font-size: 20px;
}
p .small {
	font-size: 16px;
}
a, a.active, a:active, a:focus{
	color: #fff;
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Muller";
	font-weight: 700;
	color:#fff;
}
.img-centered {
	margin: 0 auto;
}
.mysection1{
	display:block;
	padding: 550px 0;
	height: 750px;
	margin-top: -25%;
}
.section-card{
	display:block;
	padding: 150px 0;
}
section{
	display:block;
}
section h2 {
	font-size: 3em;
	margin: 0;
}
section.success {
	color: white;
}
@media (max-width: 767px) {
	.mysection1 {
		padding: 90px 0;
	}
	.mysection1.first {
		padding-top: 75px;
	}
}
.scroll-top {
	position: fixed;
	z-index: 1049;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
}
.scroll-top .btn {
	font-size: 16px;
	line-height: 28px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 100%;
}
.scroll-top .btn:focus {
	outline: none;
}
#mainNav {
	font-family:"Muller" ;
	font-weight: 700;
	border: none;
}
#mainNav a:focus {
	outline: none;
}
#mainNav .navbar-brand {
	font-size: 1.1rem;
	color: white;
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: white;
}
#mainNav .navbar-nav {
	letter-spacing: 1px;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
	color: white;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
	color: rgb(73, 102, 247);
	outline: none;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
	color: white;
}
#mainNav .navbar-toggler {
	font-size: 14px;
	padding: 11px;
	color: white;
	border-color: white;
	margin-left: 250px;
}
#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
	color: white;
	border-color: #fff;
}
@media (min-width: 992px) {
	#mainNav {
		padding-top: 20px;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		padding-right: 20%;
		background:none;
	}
	#mainNav .navbar-brand {
		font-size: 2em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
		color: white;
		border-radius: 3px;
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
		color: white;
	}
	#mainNav.navbar-shrink {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.5em;
	}
}
#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
	background-color: #000;
}
#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .caption {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background: rgba(24, 188, 156, 0.9);
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	font-size: 20px;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3, #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
	margin: 0;
}
#portfolio * {
	z-index: 2;
}
@media (min-width: 767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}
footer {
	color: white;
}
footer h3 {
	margin-bottom: 30px;
}
footer .footer-above {
	padding-top: 140px;
	background-image: url("/assets/img/footer.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -10%;
}
footer .footer-col {
	margin-bottom: 50px;
}
footer .footer-below {
	padding: 80px 50px;
	background-image:url("/assets/img/bg_footer.png");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}
.btn-outline {
	font-size: 20px;
	margin-top: 15px;
	transition: all 0.3s ease-in-out;
	color: white;
	border: solid 2px white;
	background: transparent;
}
.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover{
	color: #00b1f3;
	border: solid 2px white;
	background: white;
}
.btn-primary {
	font-weight: 700;
	color: white;
	background-color: #00b1f3;
}
.btn-primary.focus, .btn-primary:focus {
	color: white;
	background-color: #00b1f3;
}
.btn-primary:hover {
	color: #fff;
	box-shadow: 0 7px 15px rgba(6, 159, 216, .4);
}
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
	color: white;
	background-color:#00b1f3;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
	color: white;
	background-color:#00b1f3;
}
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
	background-image: none;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	border-color: #2C3E50;
	background-color: #00b1f3;
}
.btn-primary .badge {
	color: #00b1f3;
	background-color: white;
}
.btn-success {
	font-weight: 700;
	color: white;
	border-color: #00b1f3;
	background-color: #00b1f3
}
.btn-success.focus, .btn-success:focus {
	color: white;
	background-color: #00b1f3
}
.btn-success:hover {
	color: white;
	background-color: #00b1f3
}
.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle {
	color: white;
	background-color: #00b1f3
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .btn-success.dropdown-toggle.focus, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle:hover {
	color: white;
	background-color: #00b1f3;
}
.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle {
	background-image: none;
}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #00b1f3
}
.btn-success .badge {
	color: #18BC9C;
	background-color: white;
}
.btn-social {
	font-size: 20px;
	line-height: 45px;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 2px solid white;
	border-radius: 100%;
}
.btn.active, .btn:active, .btn:focus {
	outline: none;
	color:#00b1f3;
}
.mybutton {
	text-decoration: none;
	color: rgba(12, 11, 11, 0.8);
	background: rgb(251, 251, 251);
	padding: 15px 50px;
	border-radius: 4px;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}
.glow-button:hover,.glow-button:active,.glow-button:focus {
	color: #000;
	box-shadow: 0 11px 19px rgba(251, 251, 251, .5);
	text-decoration:none;
}
.mybutton-azul {
	text-decoration: none;
	color: rgb(251, 251, 251);
	background: rgb(0, 177, 243);
	padding: 15px 50px;
	border-radius: 4px;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
}
.glow-button-azul:hover, .glow-button:active,.glow-button:focus {
	color: #fff;
	box-shadow: 0 11px 19px rgba(0,123,255,.3);
	background: rgba(6, 159, 216);
	text-decoration:none;
}
.tlf1{
	position:relative;
	padding-top: 250px;
}
.color-text{
	color:#605b5b;
}
.letraspeque{
	font-size: 10px;
}
.texto1{
	position:relative;
	padding-top: 350px;
}
.linea-section{
	display:block;
	position: absolute;
	margin-left: 1.1%;
	margin-top: -2%;
	box-shadow: -1px -8px 10px rgba(44, 33, 33, 0.1);
}
.linea-card{
	display:block;
	position: absolute;
	margin-left: 2%;
	margin-top: 0%;
	box-shadow: -1px -8px 10px rgba(44, 33, 33, 0.1);
}
.mysection{
	padding-top:500px;
}
.texto2{
	padding-top:50px;
}
.texto-espacio{
	padding-top:50px;
}
.tlf2{
	padding-top:50px;
}
.texto3{
	padding-top:90px;
}
.fuente{
	font-size:25px;
	color:#efeaea;
}
.fuente2{
	font-size:25px;
}
.mysection3{
	background-image:url("/assets/img/bg_chateando.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color:#f9f4f4;
}
.linea-section2 {
	display: block;
	position: absolute;
	margin-left: 1%;
	margin-top: 2%;
	box-shadow: 10px 7px 8px rgba(44, 33, 33, 0.1);
}
.linea-nav {
	display: block;
	position: absolute;
	margin-left: 1%;
	box-shadow: 10px 7px 8px rgba(44, 33, 33, 0.1);
}
.panel-box{
	box-shadow: 0px 0px 10px 6px rgba(44, 33, 33, 0.1);
	display: block;
	margin-left: 20%;
	margin-top: 5%;
	width: 70%;
	height: 100%;
}
.msj{
	padding-top:30px;
}
.button-center{
	text-align: center !important;
	padding-top: 20px;
}
.contacto{
	padding:40px;
	background-color: #00b1f3;
}
.mysection7{
	padding:70px;
	padding-top:20px;
}
.mysection5{
	padding:100px;
}
.elemcont{
	padding-top:20px;
}
.circle {
	margin-left: 10%;
	padding-bottom: 0%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.azul{
	color:#00b1f3;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color: rgba(0, 0, 0, 0.3);
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display:block;
}
.footer-display{
	display:flex;
}
.footer-below1{
	padding-top:120px;
}
.footer-below2{
	padding-top:50px;
}
.oculto{
	display:none;
}
@media (min-width: 767px) and (max-width: 900px) {
	.oculto{
		display:block;
	}
	.biglg{
		display:none;
	}
	footer.footer-above{
		padding-top: 90px;
	}
}
@media (max-width: 575px) {

	.linea-card{
		margin-left: 7%;
	}
	.oculto{
		display:block;
	}
	.biglg{
		display:none;
	}
	.footer-display{
		display:block;
		padding-top: 60px;
	}
	footer .footer-above{
		padding-top: 0px;
		margin-top: -50%;
	}
	.footer-below2{
		padding-top:50px;
	}
	.tlf1 {
		padding: 0px 0;
		margin-left: 5%;
	}
	.mysection{
		padding-top: 850px;
	}
	.linea-section{
		margin-top: 1%;
		margin-left: 5.1%;
	}
	.mybutton {
		padding: 15px 10px;
	}
	.mybutton-azul{
		padding: 15px 10px;
	}
	.mysection5 {
		padding: 50px;
	}
	.mysection7 {
		padding: 20px;
	}
	.card-bottom {
		padding: 30px 30px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.oculto{
		display:block;
	}
	.biglg{
		display:none;
	}
	.footer-display{
		display:block;
		padding-top: 60px;
	}
	footer .footer-above{
		padding-top: 0px;
		margin-top: -40%;
	}
	.msj{
		max-width: 100%;
		height: auto;
		display:block;
		padding-top: 20px;
		padding-left: 30%;
	}
	.texto2{
		padding-top:500px;
	}
	.tlf1 {
		padding: 0px 0;
		margin-left: 10%;
	}
	.tlf2{
		padding-top:10px;
	}
	.tlf3{
		margin-left: 20%
	}
	.linea-section{
		margin-top: 2%;
		margin-left: 2%;
	}
}
@media (min-width: 800px) and (max-width: 980px) {
	.linea-card{
		margin-left: 4%;
	}
	.linea-section{
		margin-top: 0%;
	}
	.tlf1{
		padding-top:0px;
		margin-left: 27%;
	}
	.mysection{
		padding-top: 850px;
	}
	.oculto{
		display:block;
	}
	.biglg{
		display:none;
	}
	footer .footer-above{
		padding-top: 90px;
	}
	.tlf3{
		margin-left: 20%
	}
	#mainNav{
		background:none;
	}
}
.img-responsive-alt{
	max-width: 100%;
	height: auto;
	display:block;
}
@media (min-width: 980px) and (max-width: 1920px){
	.img-responsive-alt{
		max-width: none;
		height: auto;
		display:block;
		margin-left:-15%;
	}
}
@media (min-width: 1920px){
	.linea-section2 {
		margin-left: 0.3%;
	}
	.linea-section{
		margin-top: -1%;
		margin-left: 0.8%;
	}
	.linea-nav{
		margin-left: 0.3%;
	}
	footer .footer-below {
		padding: 200px 50px;
	}
	footer .footer-above {
		padding-top: 15%;
	}
	#mainNav{
		background:none;
	}
}
.space{
	padding-top:40px;
}
.boton-nav{
	display:none;
	padding-top: 7px;
}
.linea{
	display:none;
}
.text-nav{
	font-size:20px;
}
.card-bottom{
	padding: 30px 50px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color:#00b1f3;
	color:white;
}
.text-center{
	padding-bottom: 30px;
}
