<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="logo">
		<h1 class="letter-logo">Logo</h1>
	</div>
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<!--<li class="nav-header">-->
			<!--	<div class="logo-element">-->
			<!--		XD-->
			<!--	</div>-->
			<!--</li>-->
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span><img alt="image" class="img-circle" src="{{ user['image'] }}"></span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs"> <strong class="font-bold">{{ user['name'] }}</strong></span>
							<span class="text-muted text-xs block">Cambiar Pagina <b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li class="primary"><a routerLink = "/singinlist">Agregar Pagina</a></li>
						<li class="divider"></li>
						<li *ngFor="let page of pages" (click)="changePage(page);"><a> {{ page.name }} </a></li>
					</ul>
				</div>
				<div class="logo-element">
					XD
				</div>
			</li>
			<li >  <!-- Puede ir clase activa-->
				<a routerLink = "/dashboard"> <img alt="image"  src="/assets/img/tablero.png" style="width: 20%;"/><span class="nav-label">Tablero</span></a>
			</li>
			<li >
				<a routerLink = "/audiencia"> <img alt="image"  src="/assets/img/audiencia.png" style="width: 20%;"/><span class="nav-label">Audiencia</span></a>
			</li>
			<li>
				<a ><img alt="image"  src="/assets/img/herramentas_icon.png" style="width: 20%;"/> <span class="nav-label">Herramientas de</span> <span class="nav-label letter">crecimiento</span></a>
			</li>
			<li>
				<a routerLink = "/radiofusion"><img alt="image"  src="/assets/img/transmisiones_icon.png" style="width: 20%;"/> <span class="nav-label">Radiodifusión</span> </a>
			</li>
			<li>
			<a ><img alt="image"  src="/assets/img/automatizacion_icon.png" style="width: 20%;"/> <span class="nav-label">Automatización</span></a>
			<!--<span class="fa arrow"></span>-->
			<!--	<ul class="nav nav-second-level">-->
			<!--		<li><a >Menu principal	</a></li>-->
			<!--		<li><a >Respuesta predeterminada</a></li>-->
			<!--		<li><a >Mensaje de bienvenida</a></li>-->
			<!--		<li><a >Palabras claves</a></li>-->
			<!--	</ul>-->
			<!--</li>-->
			<li>
				<a ><img alt="image"  src="/assets/img/contenido_icon.png" style="width: 20%;"/> <span class="nav-label">Contenido</span> </a>
			</li>
			<li>
				<a ><img alt="image"  src="/assets/img/configuracion_icon.png" style="width: 20%;"/> <span class="nav-label">Configuración</span></a>
			</li>
		</ul>
	</div>
</nav>

