<div id="wrapper">
<app-menu></app-menu>
<div id="page-wrapper" class="gray-bg dashbard-1">
<app-nav></app-nav>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

                    <div class="profile-image">
                        <img src="{{pageInfo['picture']}}" class="img-circle circle-border m-b-md" alt="profile">
                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    {{pageInfo['name']}}
                                </h2>
                                <h4>{{pageInfo['about']}}</h4>
                                <small>
                                    Cantidad de fans:{{pageInfo['fan_count']}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-md-10">
                        <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
        </div>
        <div class="footer">
            <!--<div class="pull-right">-->
            <!--    10GB of <strong>250GB</strong> Free.-->
            <!--</div>-->
            <div>
                <strong>Copyright</strong> ChatBot &copy; 2014-2017
            </div>
        </div>
    </div>
</div>
</div>


</div>
</div>
