  <link href="/assets/css/plugins/bootstrap.min.css" rel="stylesheet">     
    <!-- Navigation -->
    <div class="body" id="page-top" cz-shortcut-listen="true">
    <nav class="navbar navbar navbar-expand-lg navbar-light " id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" id="toogler-click" value="true">
          
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" routerLink = "precios" id="precios">Precios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Contactos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Blog</a>
            </li>
		      	<li class="nav-item">
              <a class="nav-link js-scroll-trigger" routerLink = "singin" >Iniciar Sesión</a>
            </li>
            <li class="nav-item boton-nav" id="boton">
              <a class="mybutton-azul glow-button-azul" routerLink = "singin">Comenzar gratis</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row linea" >
              <div class="col-lg-12 linea-nav">
                  <h6></h6>
              </div>
      </div>
        <section id="portfolio" class="section-card" > 
      
     <div class="container">
   
      <div class="row">
        <div class="col-lg-5 mx-auto text center">
                                 <h5 class="text-sm-left azul">Precios de</h5>
                              
                               
            	            		  
                   <h3 class="text-sm-left color-text">Plan gratuito con todas las<br>características básicas.</h3>
                
              
            	            		  
                   <h3 class="text-sm-left color-text">Pro plan para usuarios avanzados.</h3>
                
              
            	            
            
            
                       
          
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <div class="card panel-box">
            <ul class="nav nav-tabs ">
              <li class="nav-item">
                <a class="nav-link active card-nav text-nav" href="#">Gratis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-nav color-text" href="#">Pro</a>
              </li>
              
            </ul>
          
        <div class="card-block">
          <div class="row">
                  <div class="col-lg-12 linea-card">
                      <h6></h6>
                  </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mx-auto text-sm-left card-bottom">
                                      <h6 class="text-sm-left azul">Emisiones ilimitadas  </h6>                                
                                 
            	            		  
                <h6 class="text-sm-left color-text">Secuencia de difusión</h6>
                
              
            	            		  
                <h6 class="text-sm-left color-text">Etiquetas</h6>
                
              
            	            		  
                <h6 class="text-sm-left color-text">Campos personalizados</h6>
                
              
            	            		  
                <h6 class="text-sm-left color-text">Branding</h6>
                
              
            	            		  
                <h6 class="text-sm-left color-text">Menú principal</h6>
                
              
            	            		  
                <h6 class="text-sm-left color-text">Mensaje de bienvenida</h6>
                
              
            	            
            
            
                     
            <br>
            <div class="col-lg-10 mx-auto text-sm-right">
              <a routerLink = "singin" class="mybutton-azul glow-button-azul">
                  
                                       Comience gratis                                     </a>
            </div>
            
            </div>
          </div>
          
        </div>
      </div>
        </div>
      </div>
     
  </div> 
 
</section>

 <div class="row">
              <div class="col-lg-12 linea-section">
                  <h6></h6>
              </div>
      </div>
 <section id="portfolio" >
   <div class="container">
     <div class="row space">
       <div class="col-lg-12 mx-auto text-center">
                                <h3 class="color-text"> Pago según el tamaño</h3>
                         
         
          
       </div>
     </div>
     <div class="row">
       <div class="col-lg-8 mx-auto text-justify">
                                 <h6 class="text-justify color-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetu ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>
                         
         </div>
     </div>
     <div class="row space">
       <div class="col-lg-12 mx-auto text-center">
                                 <h3 class="color-text"> Políticas de uso</h3>
                             
         
          
       </div>
    </div>
       <div class="row">
           <div class="col-lg-2"></div>
                                            
            	            		                     <div class="col-lg-4 mx-auto text-justify">
                        <h6 class="text-justify color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetu ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>
          
                     </div>
                      
                    
                   
                                  
              
            	            		                        
                       <div class="col-lg-4 mx-auto text-justify">
                             <h6 class="text-justify color-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetu ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h6>
                          
                         </div>
                       
                                   
              
            	            
            
            
                    
         <div class="col-lg-2"></div>
     </div>
     <div class="row space">
       <div class="col-lg-12 mx-auto text-center">
           <a href="" class="nav-link js-scroll-trigger">
                 
                                      <h5 class="text-center azul"> Envíenos sus apreciaciones</h5>
                               </a>
         
       </div>
     </div>
   </div>
</section>    
    
	   
    
   <!-- Footer --> 
    <footer >
     
      <div class="footer-below">
        
        <div class="container">
          <div class="row ">
            
            <div class="col-lg-12 mx-auto text-center">
                <h5 class="text-center footer-below1">Messenger Marketing espera por ti<br> Comience hoy</h5>
                
                <a routerLink = "singin" class="mybutton glow-button azul">
                  
                  Comience gratis
                  </a>
                  
                  <p class="footer-below2">2017</p>
                
              </div>
            </div>
              
           
          </div>
      </div>
      <div class="footer-above" >
        <div class="container">
          <div class="row ">
             <div class="col-lg-5 mx-auto text-center" ></div>
            <div class="col-lg-6 mx-auto text-sm-left footer-display">
               <a class="nav-link js-scroll-trigger" routerLink = "precios"><h6>Precios</h6></a>
               <a class="nav-link js-scroll-trigger" href="#"><h6>Contactos</h6></a>
               <a class="nav-link js-scroll-trigger" href="#"><h6>Blog</h6></a>
               <a class="nav-link js-scroll-trigger" routerLink = "singin"><h6>Iniciar Sesión</h6></a>
              </div>
            </div>
              
           
          </div>
      </div>
                
      
         
    </footer>
  
   </div>