/* You can add global styles to this file, and also import other style files */
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}

body{
  width: 100%;
height: 100%;
overflow-y: auto;
position: absolute;
}