<div class="body">
	<div class="col-lg-12 text-sm-left">
		<div class="login">
			<div class="login-screen" >
				<div class="app-title">
					<h1 >Logo</h1>
				</div>
				<div class="login-form" >
					<div class="control-group">
						<h3 class="h3" >Conectar una página en facebook</h3><br>
						<h4 class="h4" >Necesitamos los permisos para administrar los mensajes de su página para automatizar sus respuestas</h4>
					</div>
					<!--Select de ejemplo donde deberian ir los fanpage -->
					<br>

					<form (ngSubmit)="onSubmit(pagesForm)" #pagesForm="ngForm">
						<label>Seleccione:</label>
						<select class="form-control" id="pages" ng-init="selectedValue='page.id'" [(ngModel)]="selectedValue"  name="pages"  required>
							<option *ngFor="let page of pages" [ngValue]="page.id"  [selected]="page.name"  >{{ page.name }}</option>
						</select>
						<br><br>
						<div class="btn-form btn-form--mod">
							<div class="btns">
								<!--<button class="btn letra btn--width">M</button>-->
								<!--<button class="btn btn-default marca">Marca</button>-->
								<!--<button class="btn btn-primary" >Conectar</button>-->
								<button type="submit" class="btn btn-primary" [disabled]="!pagesForm.form.valid">Conectar</button>
							 </div>
							 <div class="btn-singinOut">
								 <a href="https://www.facebook.com/pages/create" class="login-link"><h4  class="h4">Crea una pagina nueva</h4></a>
								 <a href="#"  class="login-link"><h4  class="h4">Sing Out</h4></a>
							</div>
						</div>
					</form>
				</div>
				</div>
		</div>
	 </div>
</div>