*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face{
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url(../../assets/fonts/2DF5B4_F_0.woff2) format("woff2"),url(../../assets/fonts/2DF5B4_F_0.woff) format("woff");
}

@media (min-width: 1200px){
.container {
    max-width: 1350px;
}
}


* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
.body {
  font-family: "Muller";  
 background-image:url("/assets/hands-woman-camera-smartphone.jpg");
background-repeat: no-repeat;
background-position: top;
background-attachment: fixed;
background-size: cover;
overflow: hidden;
padding-top: 5px;  
width: 100%;
height: 100%;
overflow-y: auto;
position: absolute;
 }

.login { margin-top: 10%; width: 300px;padding-left: 10px; }

.login-screen {  background-color: #FFF;  padding: 20px;  border-radius: 5px; }

.app-title {text-align: center;  color: #00b1f3; }

.login-form {  text-align: center; }

.control-group {  margin-bottom: 10px; }

.btn {border: 2px solid transparent;  
background: #00b1f3;
color: #ffffff; 
font-size: 16px;  line-height: 25px;  
padding: 10px 0;
text-decoration: none;
text-shadow: none; 
border-radius: 3px;  
box-shadow: none;
transition: 0.25s;
display: block;
width: 250px;
margin: 0 auto; font-family: "Muller"; }

.btn:hover {background-color: #069fd8; }

.btn-default {color: #333; background-color: #fff; border-color: #ccc; }

.btn-default--mod {color: #333; background-color: #fff;border-color: #00b1f3; width: 120px; }

.btn-default:hover { background-color: #DCDCDC; }
.btn-form {display: -webkit-box; display: -ms-flexbox; display: flex;text-align: right; }

.btn-form--mod { -webkit-box-orient: vertical; -webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column; }

.btns { display: -webkit-box;display: -ms-flexbox;display: flex; }

.login-link {font-family:"Muller";
color: #00b1f3;
display: block; 
margin-top: 12px;
text-decoration: none; }

.letra {font-size: 19px;
color: #a5e7ff;}

.marca { border-color: transparent; }

.btn-singinOut { text-align: center; }

.h1{
  font-size: 2em;
  font-weight: bold;
  display: block;
}
.h3{
  font-size: 1.7em;
  font-weight: bold;
  display: block;
}
.h4{
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.selector{
      width: 100%;
}